<nav class="navbar navbar-disclaimer">
    <p class="navbar-text">San Francisco State University: Student Demo Project</p>
  </nav>
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/fa17g02/"> HouseHunter </a>
        </div>
        <ul class="nav navbar-nav navbar-center">
            <li><a href="https://sfsuse.com/fa17g02/about">About Us</a></li>
            <li><a href="https://sfsuse.com/fa17g02/sell"> Sell </a></li>
	    <li><a href="https://sfsuse.com/fa17g02/agent"> Agent Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://sfsuse.com/fa17g02/signup"> <span class="glyphicon glyphicon-log-in"></span> Register </a></li>   
	 <li><a href="https://sfsuse.com/fa17g02/login"> <span class="glyphicon glyphicon-user"></span> Login </a></li>
        </ul>
    </div>
</nav>
