<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container text-center">

    <div class="row">
        <div class="col-sm-12">

            <h1> San Francisco State University</h1>
            <p>Software Engineering CSC 648 </p>
            <p> Fall 2017</p>
            <p> Section 02 - Team 02</p>
            <p><a href="about/vipul" class="btn btn-default">Visit Vipul's Webpage </a></p>
            <p><a href="about/mohan" class="btn btn-default">Visit Mohan's Webpage</a></p>
            <p><a href="about/udara" class="btn btn-default">Visit Udara's Webpage</a></p>
            <p><a href="about/savan" class="btn btn-default">Visit Savan's Webpage</a></p>
            <p><a href="about/aishwarya" class="btn btn-default">Visit Aishwarya's Webpage</a></p>
            <p><a href="about/larry" class="btn btn-default">Visit Larry's Webpage </a></p>
        </div>
    </div>
</div>

    <div id="emp">
    </div>

<div id=footer>
    <% include ../partials/footer %>
</div>

<% include ../partials/style %>

<% include ../partials/plugins %>
</body>
</html>

