<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<header>
    <% include ../partials/header %>
</header>
<div class="jambotron text-center">
    <h1> SanFrancisco State University</h1>
    <p>Software Engineering - CSC 648 </p>
    <p>Fall 2017</p>
    <p>Section 02</p>
    <p>Team 02</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <h2> Introduction </h2>

                <img src="../images/img.png" height=30% width=80
                %>

                <p> Hi, my name is Savan Patel. I am an international graduate student at SFSU. My main focus in
                    computer science is computer security and I love breaking code</p>
            </div>

        </div>
    </div>

    <a href="udara">
        <button>
            Previous
        </button>
    </a>

    <a href='../'>
        <button>
            Home
        </button>
    </a>

    <a href="aishwarya">
        <button>
            Next
        </button>
    </a>
    <div id=footer>
        <% include ../partials/footer %>
    </div>
    <% include ../partials/plugins %>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
            font-weight: 400;
            font-size: 16px;
            color: #333;
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

       .navbar-disclaimer {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #ffA500;
}

.navbar-text {
    font-weight: bold;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

.navbar-brand{
        font-size: 25px;
  }

.navbar-inverse{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
    border-radius:0px;
  }

.navbar-nav {
    font-size: 18px;
  }

.navbar-nav.navbar-center {
      font-size: 20px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }
    </style>
</body>
</html>

